Options +FollowSymLinks
RewriteEngine On

RewriteRule ^([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)$ index.php?v1=$1&v2=$2&v3=$3&v4=$4
RewriteRule ^([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)$ index.php?v1=$1&v2=$2&v3=$3
RewriteRule ^([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)$ index.php?v1=$1&v2=$2
RewriteRule ^([A-Za-z0-9-_]+)$ index.php?v1=$1

RewriteRule ^/$ index.php

#php_flag zlib.output_compression On
#php_value zlib.output_compression_level 2

<IfModule mod_filter.c>
	<Files *.css>
		SetOutputFilter DEFLATE
	</Files>

	<Files *.js>
		SetOutputFilter DEFLATE
	</Files>
</IfModule>